.nav{
	background-color:blue;
	
	}

button{
	float:right;
	margin-right:30px;
	margin-top:10px;
}
.head
{
float:left;
 width:800px;
 height:150px;
 display: block;
 position:relative;
 margin-left:30px;
 border-bottom:1px solid #efefef;
}
.allTopic
{
position: absolute;
top:100px;
left:0px;

}
.allTopic:hover,.allGrade:hover,.search:hover{
	border:1px solid  blue;
}
.allGrade
{
position: absolute;

top:100px;
left:150px;
}
.search{
	position: absolute;

top:120px;
left:550px;
}
.displayleft{
	height:auto;
	float:left;
	width:791px;
	}
.left
{
 height:200px;
 float:left;
 width:500px;
 display: block;
 position:relative;
 cursor: hand;
}
.left:hover{
	background-color: #e6e6e6;
	color:blue;
	box-shadow:2px 2px 2px #6666ff ;
}
.image
{
 height:150px;
 width:150px;
 position: absolute;
 margin:20px;
 left:10px;
}
.image:hover{
	border: 0.5px solid blue;
	box-shadow:2px 2px 2px 2px #6666ff;
}
.title
{
 position: absolute;
 top:0px;
 margin-bottom:10px;
 left:200px;
 font-size: 18px;
 font-weight: bold;
 text-transform: capitalize;
}
.subject
{
 position: absolute;
 top:50px;
 left:200px;
 font-size: 14px;
text-transform: capitalize;
}
.grade
{
position: absolute;
 top:50px;
 left:290px;
 margin-left:30px;
 font-size: 14px;
 text-transform: capitalize;
}
.no-of-videos
{
position: absolute;
 top:150px;
 left:200px;
 font-size: 14px;
}
.no-of-documents
{
position: absolute;
 top:150px;
 left:250px;
 margin:10px;
 font-size: 14px;
}
.no-of-questions
{
position: absolute;
 top:150px;
 left:290px;
 margin-left:25px;
 font-size: 14px;
}
.right
{
 width:530px;
 height:auto;
 position: relative;
 float: right;
 background-color: #efefef;
 box-shadow:5px 5px 5px #d9d9d9 inset;
 display: block;

}
.header
{
height:50px;
background-color:black;
width:530px;
}

.topic
{
 width:470px;
 height:30px;
 margin-left:10px;
 padding-left:10px;
 margin-top:20px;
 margin-bottom:20px;
 border:1px solid #d9d9d9;
}
.topic_name{
height:35px;
width:530px;
padding-left: 30px;
padding-top:5px;
border-bottom:1px solid #d9d9d9;
}
.topic_name:hover{
	color:#6666ff;
}
.remove{
	float:right;
	height:20px;
	width:20px;
	margin-left:5px;
	margin-right: 10px;
}
.remove:hover{
	
	
	background-color:red;
}

.create_course
{
position:relative;
height:auto;
width:530px;
display: block;
border:1px solid #d9d9d9;
}

.drag_drop_lesson
{

	border:1px dashed #d9d9d9;
	background-color: #e6e6e6;
	height:auto;
	min-height:250px;
	width:500px;
	margin-top:10px;
	margin-bottom:10px;
	color: gray;
	margin-left:15px;
	}
	.drag_drop_lesson:hover{
		background-color:#e6e6ff;
		border: 1px dashed #33ccff;
		color:#33ccff;
	}
.add_topic{
	height:20px;
	width:400px;
	margin-top:20px;
	margin-left:20px;
	position: relative;
}
.add_img
{
	height:20px;
	width:20px;
	margin-left:5px;
	margin-right: 10px;
}
.add_img:hover{
	background-color: green;
}
